@include icon-black-white('access-time', 'collectives', 1);
@include icon-black-white('circles', 'circles', 1);
@include icon-black-white('sort-by-alpha', 'collectives', 1);
@include icon-black-white('page', 'collectives', 1);
@include icon-black-white('pages', 'collectives', 1);
@include icon-black-white('page-white', 'collectives', 1);
@include icon-black-white('pages-white', 'collectives', 1);

.icon-collectives {
	@include icon-color('app', 'collectives', '#000', 1);
}

.icon-circles, .icon-sort-by-alpha, .icon-access-time {
	background-size: 16px;
}

.icon-page-white, .icon-pages-white {
	background-size: 20px;
	width: 26px;
	height: 34px;
}

.icon-page, .icon-pages {
	background-size: 44px;
}
